@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --neutral-grey-500: hsl(234, 12%, 34%);
  --neutral-grey-400: hsl(212, 6%, 44%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-size: 0.938rem;
  --font-family: 'Poppins', sans-serif;
}

body {
  padding: 4rem 2rem 0 2rem;

  width: 100%;
  min-height: 100vh;

  /* * FLEXBOX */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  /* * GRID */
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  /* align-items: center;
  justify-content: center; */

  font-size: var(--font-size);
  font-family: var(--font-family);

  letter-spacing: 0.016rem;
}

header {
  max-width: 33.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: var(--neutral-grey-500);
}

.header-title h2:nth-child(1) {
  font-weight: 200;
}

.header-title h2:nth-child(2) {
  font-weight: 600;
}

main {
  flex-grow: 1;
}

main {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  gap: 2rem;
}

footer {
  font-size: 0.688rem;
  text-align: center;
}

footer p a {
  color: hsl(228, 45%, 44%);
}

.card {
  padding: 2rem;
  width: 100%;
  max-width: 19.625rem;
  height: 15.625rem;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-self: center;

  border-radius: 0.5rem;

  overflow: hidden;

  box-shadow: 0 0.625rem 1.563rem -0.625rem var(--neutral-grey-400);
}

.card:nth-child(1) {
  border-top: 0.25rem solid var(--primary-cyan);
}

.card:nth-child(2) {
  border-top: 0.25rem solid var(--primary-red);
}

.card:nth-child(3) {
  border-top: 0.25rem solid var(--primary-orange);
}

.card:nth-child(4) {
  border-top: 0.25rem solid var(--primary-blue);
}

.icon-wrapper {
  max-width: 4.063rem;
  max-height: 4.063rem;

  align-self: flex-end;
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-title h2 {
    font-size: 2rem;
  }

  main {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      'teambuilder teambuilder'
      'supervisor karma'
      'calculator calculator';
  }

  .card {
    align-self: auto;
    justify-self: center;
  }

  .card:nth-child(1) {
    grid-area: supervisor;
  }

  .card:nth-child(2) {
    grid-area: teambuilder;
  }

  .card:nth-child(3) {
    grid-area: calculator;
  }

  .card:nth-child(4) {
    grid-area: karma;
  }
}

@media (min-width: 1024px) {
  .header-title h2 {
    font-size: 2.25rem;
  }

  main {
    display: grid;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      'supervisor teambuilder calculator'
      'supervisor karma calculator';
  }

  .card {
    width: 100%;
    max-width: 21.875rem;
    height: 15.625rem;
    max-height: 100%;

    justify-self: auto;
  }

  .card:nth-child(1) {
    grid-area: supervisor;

    /* *desktop w/o "grid-area" property */
    /* grid-column: 1/2;
    grid-row: 1/3;
    align-self: center; */
  }

  .card:nth-child(2) {
    grid-area: teambuilder;
  }

  .card:nth-child(3) {
    grid-area: calculator;
  }

  .card:nth-child(4) {
    grid-area: karma;

    /* *desktop w/o "grid-area" property */
    /* grid-column: 3;
    grid-row: 1/3;
    align-self: center; */
  }
}
