* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --neutral-grey-500: hsl(234, 12%, 34%);
  --neutral-grey-400: hsl(212, 6%, 44%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-size: 0.938rem;
}

body {
  padding: 4rem 4rem 0 4rem;

  width: 100%;
  min-height: 100vh;

  /* * FLEXBOX */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  /* * GRID */
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  /* align-items: center;
  justify-content: center; */
}

main {
  flex-grow: 1;
}

main {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  gap: 2rem;
}

.card {
  padding: 1.5rem;
  width: 100%;
  max-width: 350px;
  height: 200px;
  max-height: 100%;

  align-self: center;
}

.card:nth-child(1) {
  background-color: red;
}

.card:nth-child(2) {
  background-color: yellow;
}

.card:nth-child(3) {
  background-color: chocolate;
}

.card:nth-child(4) {
  background-color: cyan;
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      'teambuilder teambuilder'
      'supervisor karma'
      'calculator calculator';
  }

  .card {
    align-self: auto;
    justify-self: center;
  }

  .card:nth-child(1) {
    grid-area: supervisor;
    background-color: red;
  }

  .card:nth-child(2) {
    grid-area: teambuilder;
    background-color: yellow;
  }

  .card:nth-child(3) {
    grid-area: calculator;
    background-color: chocolate;
  }

  .card:nth-child(4) {
    grid-area: karma;
    background-color: cyan;
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      'supervisor teambuilder calculator'
      'supervisor karma calculator';
  }

  .card {
    justify-self: auto;
  }

  .card:nth-child(1) {
    background-color: red;
    grid-area: supervisor;

    /* *desktop w/o "grid-area" property */
    /* grid-column: 1/2;
    grid-row: 1/3;
    align-self: center; */
  }

  .card:nth-child(2) {
    grid-area: teambuilder;
    background-color: yellow;
  }

  .card:nth-child(3) {
    grid-area: calculator;
    background-color: chocolate;
  }

  .card:nth-child(4) {
    grid-area: karma;
    background-color: cyan;

    /* *desktop w/o "grid-area" property */
    /* grid-column: 3;
    grid-row: 1/3;
    align-self: center; */
  }
}
